Flask==3.0.3
python-dotenv==1.0.1
firebase-admin==6.5.0
google-cloud-speech==2.26.0
google-cloud-translate==3.15.3
google-cloud-texttospeech==2.16.4
requests==2.32.3
pyaudio==0.2.14
numpy==1.26.4
scipy==1.14.0
pydub==0.25.1
wave==0.0.2
audioop
gunicorn==23.0.0